/************************************************/
/* Specific formatting overriding the theme CSS */
/************************************************/

/* Image alignement */
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.8rem 1.5rem 0 0.5rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.8rem 0.5rem 0 1.5rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#inline']
{
    display: inline-block;
}